[submodule "packages/pkg-pes-sixad"]
	path = packages/pkg-pes-sixad
	url = https://github.com/Pi-Entertainment-System/pkg-pes-sixad
[submodule "packages/pkg-pes-rasum"]
	path = packages/pkg-pes-rasum
	url = https://github.com/Pi-Entertainment-System/pkg-pes-rasum
[submodule "packages/bluez-utils-compat"]
	path = packages/bluez-utils-compat
	url = https://aur.archlinux.org/bluez-utils-compat.git
[submodule "packages/bluetooth-raspberrypi"]
	path = packages/bluetooth-raspberrypi
	url = https://github.com/RoEdAl/alarm-bluetooth-raspberrypi
